body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}
footer {
     position: relative;
     z-index: -1;
     background-color: #B4CF66;
     padding: 20px;
}
img {
  height: 200px;
}
nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #f27127;
  text-shadow: 2px 2px 2px #0000004b;
}
body {
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient(
      to right,
      #f27127, #f47f20,
      #f58c1a, #f69a13,
      #f5a70e, #f4aa0f,
      #f4ac10, #f3af11,
      #f3a813, #f3a016,
      #f3991a, #f2921d);
}
main {
  padding: 16px;
}
footer {
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 0;
      padding-right: 0;
}
img {
  height: 200px;
}
nav {
  padding: 16px;
}




body {
    margin: 0;
    padding: 0;
  }

  main {
    padding: 16px;
  }
  footer {
       position: relative;
       z-index: -1;
       background-color: #B4CF66;
       padding: 20px;
  }
  img {
    height: 200px;
  }
  nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #f27127;
    text-shadow: 2px 2px 2px #0000004b;
