.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    justify-items: center;
}
body {
    margin: 0;
    padding:0 ;
    background-color: #F27127;
    border-image: url('https://vectorified.com/image/mexican-banner-vector-1.png') 30;
}
h1 {
    text-align: center;
    color: #038C5A;
    font-size: 35px;
    margin: 0;
    padding-top:  10px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: solid #F27127;
    font-family: 'la tequila out';
    background-color: #F2B90F;
}
h2 {
    text-align: center;
    color: #038C5A;
    font-size: 19px;
    margin: 0;
    padding-bottom: 5px;
    font-family: 'la tequila out';
    background-color: #F2B90F;
    border-top: #F27127 solid;
    border-bottom: solid #F27127;
}

main {
    padding: 0;
}
footer {
    position:absolute;
    width:100%;
    bottom:0px;
    z-index: -1;
    background-color: #038C5A;
    padding: 20px;
    font-family: 'la tequila out';
    font-size: 10px;
}
img {
    display: block;
    border: dotted #F2B90F;
    border-width:10px;
    height: 200px;
}
nav {
    padding: 20px;
    background-color:#F27127;
    text-shadow: 2px 2px 2px #0000004b;
}
table,th,td {
    border: 5px solid #F27127;
    color: #038C5A;
    font-family: 'la tequila';
    background: #F2B90F;
}
ol li {
    border: 2px solid #F2B90F;
    background: #F27127;
}
